.home {
    .landing-page {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1600px;
        margin: 25px auto;

        .texts {
            margin: 0 10rem;

            h1 {
                font-size: 3rem;
                font-weight: 700;
                color: $VeryDarkViolet;
            }
            p {
                color: $GrayishViolet;
                margin-bottom: 15px;
            }
            button {
                border: 1px solid transparent;
                background-color: $Cyan;
                padding: 15px 25px;
                border-radius: 50px;
                color: #fff;
                outline: none;
                cursor: pointer;
            }
        }
    }
    

    .shorten-links {
        position: relative;
        left: 0rem;
        top: 9rem;
        margin: 20px 15rem;
        background-color: $DarkViolet;  
        background-image: url('../../assets/images/bg-shorten-desktop.svg');
        padding: 2em 2em;
        border-radius: 5px;
        box-shadow: 0 3px 5px rgba(253, 253, 253, 0.3);

        form {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        input {
            width: 800px;
            height: 45px;
            border-radius: 5px;
            border: 1px solid transparent;
            padding: 20px;
            font-weight: inherit;
            outline: none;

            &::placeholder{
                font-size: 15px;
                font-weight: 400;
            }

            &.is-active{
                border: 2px solid $Red;

                &::placeholder{
                    color: $Red;
                }
            }
        }
        
        button {
            padding: 8px 20px;
            border: 1px solid transparent;
            border-radius: 5px;
            background-color: $Cyan;
            color: #fff;
            outline: none;
            cursor: pointer;
        }
        p{
            color: $Red;
            font-size: 13px;
            margin: 10px 20px;
        }
    }

    .outputs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        background-color: #fff;
        padding: 10px 10px;
        border-radius: 5px;
        position: relative;
        left: 0rem;
        top: 0rem;
        margin: 20px 15rem;

        h3 {
            color: $VeryDarkBlue;
            font-weight: 400;
        }

        div{
            display: flex;
            justify-content: flex-end;

            a{
                text-decoration: none;
                margin: 10px;
                color: $Cyan;
                cursor: pointer;
            }
            button {
                padding: 10px 20px;
                border: 1px solid transparent;
                border-radius: 5px;
                background-color: $Cyan;
                color: #fff;
                outline: none;
                cursor: pointer;

                &.is-active{
                    background-color: #000;
                }
            }
        }

    }

    article {
        background-color: $Gray;
        padding: 6rem 0;
        margin-top: 4rem;

        .heading {
            display: flex;
            flex-direction: column;
            place-items: center;

        h1 {
            font-size: 2rem;
            color: $VeryDarkViolet;
        }
        p{
            text-align: center;
            margin-top: 10px;
            color:lighten($VeryDarkViolet, 30%)
        }
    }

    .features {
        display: flex;
        flex-direction: row;
        place-items: center;
        padding: 2rem 5rem;

        .feature {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            border-radius: 5px;
            margin: 0px 10px;

            &:not(:first-child){
                margin-top: 6rem;
            }

            &:last-child {
                margin-top: 12rem;
            }

            img {
                background: $VeryDarkBlue;
                padding: 20px;
                border-radius: 50px;
                position: relative;
                top: -2rem;
                left: -7rem;
            }
            .texts {
                padding: 30px 20px;

                h2 {
                    color: $VeryDarkViolet;
                    font-size: 1rem;
                    margin-bottom: 5px;
                }
                p{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 1.2rem;
                    color: $Gray;
                }
            }
        }
    }

    }

    .bookings {
        background-color: $VeryDarkBlue;
        background-image: url('../../assets/images/bg-boost-desktop.svg');
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;

        h2{
            color: #fff;
            font-size: 1.5rem;
        }
        button{
            border: 1px solid transparent;
            background-color: $Cyan;
            padding: 10px 30px;
            border-radius: 50px;
            color: #fff;
            outline: none;
            cursor: pointer;
            margin-top: 20px;
        }
    }

    .footer {
        background: $VeryDarkViolet;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        place-items: center;
        padding: 50px;

        ul {
            list-style: none;
            margin-top: 20px;

            p{
                color: #fff;
            }

            li{
                color: $Gray;
                font-size: 0.8rem;
                margin: 5px;
            }
        }

        .footer-img{
            img{
                margin: 10px;
            }
        }
    }

    .attribution {
        text-align: center;
        font-size: 0.8rem;
        color: #fff;
        background: $VeryDarkViolet;
        padding: 10px;

        a{
            text-decoration: none;
        }
    }

}

@media screen and (max-width: 1200px) {
    .home {
        .landing-page {
            flex-direction: column-reverse;
            padding: 5px;

            img {
                width: 100%;
            }

            .texts {
                margin: 30px 0;
                text-align: center;

                h1 {
                    font-size: 2rem;
                }
            }
        }

        .shorten-links { 
                top: 8rem;
                padding: 1.5rem 2rem;
                margin: 0 1rem;
                background-image: url('../../assets/images/bg-shorten-mobile.svg');
                background-size: cover;

                form {
                    flex-direction: column;
                }

                input {
                    align-self: center;
                    width: 100%;
                    margin: 10px 0;
                }
                button {
                    align-self: center;
                    width: 100%;
                    padding: 15px;
                }
        }

        .outputs {
            display: flex;
            flex-direction: column;
            align-items: center;
            top: -1rem;
            padding: 1rem 2rem;
            margin: 0 1rem;

            h3 {
                font-size: 16px;
                border-bottom: 1px solid $VeryDarkBlue;
            }

            div {
                flex-direction: column;

                a {
                    font-size: 14px;
                }

                button {
                    position: relative;
                    padding: .5rem 3rem;
                }
            }
        }

        article {
            .heading {
                text-align: center;
                margin: 10px 3px;
            }

            .features {
                flex-direction: column;
                padding: 0px;
                margin-top: 5rem;

                .feature {
                    margin: 4rem 1rem;
                    img {
                        left: 0rem;
                    }

                    &:not(:first-child){
                        margin-top: 0;
                    }
        
                    &:last-child {
                        margin-top: 0;
                    }
                }
            }
        }

        .bookings {
            h2 {
                text-align: center;
            }
        }

        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1500px){
    .home {
        .landing-page {
            .texts {
                margin: 0 30px;
            }
        }

        .shorten-links {
            margin: 20px 5rem;
            top: 7rem;
        }

        .outputs {
            margin: 20px 5rem;
            top: -3rem;
        }

        article { 
        .features {
            padding: 2rem 3rem;
            .feature {
                margin: 0 20px;
            }
        }
    }
}
}