.home {
    .landing-page {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1600px;
        margin: 25px auto;

        .texts {
            margin: 0 10rem;

            h1 {
                font-size: 4rem;
                font-weight: 700;
                color: $VeryDarkViolet;
            }
            p {
                color: $GrayishViolet;
                margin-bottom: 15px;
            }
            button {
                border: 1px solid transparent;
                background-color: $Cyan;
                padding: 15px 25px;
                border-radius: 50px;
                color: #fff;
            }
        }
    }
}