.AppNavigation {
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 10rem;
    }

    .nav_item{
        display: flex;
        align-items: center;
        justify-content: space-between;

        a{
            text-decoration: none;
            margin: 15px;
            color: $GrayishViolet;
            cursor: pointer;

            &:hover {
                color: $VeryDarkBlue;
                transition: .8s ease-in-out;
            }
        }
    }

    .auth{
        margin-left: 25rem;

        .login{
            background: transparent;
            border: none;
            color: $GrayishViolet;
            margin: 10px;
            cursor: pointer;
            outline: none;
        }

        .signup{
            border: 1px solid transparent;
            background-color: $Cyan;
            color: #fff;
            padding: 10px 20px;
            margin: 10px;
            border-radius: 50px;
            cursor: pointer;
            outline: none;
        }
    }

    .menu {
        display: none;
    }
}

@media screen and (max-width: 1200px){
    .AppNavigation {
    .menu {
        display: block;
        width: 30px;
        cursor: pointer;
        #burger {
            display: block;
        }
        #close-menu {
            display: none;
        }

        &.openNav {
            
            #burger {
                display: none;
            }
            #close-menu {
                display: block;
            }
        }
    }

    .nav {
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 10px;
    }

    .nav_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $DarkViolet;
        position: absolute;
        left: 0;
        top: 6rem;
        padding: 2rem 5rem;
        margin: 0 20px;
        border-radius: 5px;
        visibility: hidden;
        transition: .8s ease-in-out;
        transform: translateX(-100%);

        &.openNav{
            visibility: visible;
            transition: .8s ease-in-out;
            transform: translateX(0);
        }

        .links {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $GrayishViolet;
            
            a {
                margin: 5px;
                text-align: center;
                color: #fff;
            }
        }
    }

    .auth {
        margin: 0;
        display: flex;
        flex-direction: column;

        .login {
            color: #fff;
        }
    }
    }
}